@tailwind base;
@tailwind components;
@tailwind utilities;


.flame {
  animation: flame 0.2s ease infinite ;
  transform-origin: bottom;
}

@keyframes flame {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(180deg) ;
  }
}

.flame_top {
  animation: flame 0.2s ease-in-out infinite alternate;
  transform-origin: top;
}

@keyframes flame {
  from {
    transform: rotateX(0deg) ;
  }
  to {
    transform: rotateX(50deg) ;
  }
}